body {
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-family: sans-serif;
    color: grey;
    font-weight: bold;
    text-align: justify;
}

h2 {
    text-align: center;
    font-style: italic;
    color: grey;
    font-family: sans-serif;
}

h3 {
    font-style: normal;
    color: black;
    font-family: sans-serif;
}

.information {
    padding-left: 20px;
    margin: 20px;
    margin-top: 50px;
}


/*this is the orange boxes serach, post, comment*/

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}


/*this is the orange boxes serach, post, comment*/

.flex-item {
    background: cyan;
    width: 240px;
    height: 175px;
    line-height: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 3em;
}


/*this is the orange boxes serach, post, comment*/

.section {
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    height: 200px;
    width: 450px;
    text-align: center;
    margin: 5px;
    margin-top: 10px;
}
