body {
    background-image: url("../6883.jpg");
    background-position: center;
    font-family: 'Pangolin', cursive;
    margin: 0;
}

h1 {
    background-color: white;
    color: black;
    text-align: center;
}
