
h1
{
  font-family: sans-serif;
  color: grey;
  font-weight: bold;
  text-align: justify;
}
h2{
  text-align: center;
  font-style: italic;
  color: grey;
  font-family: sans-serif;
}
h3 {
  font-style: normal;
  color: black;
  font-family: sans-serif;
}
